@{
    ViewBag.Title = "Home Page";
}

<h1>Web Semantic Search</h1>
<form method="post">
    @Html.TextBox("Q")
    <input type="submit"/>
</form>
<p>
    This is an application to provide intelligent search functionality using LUIS.
</p>
